* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  margin: 0 auto;
  letter-spacing: 2px;
}

@font-face {
  font-family: PTSerif-Bold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: PTSerif-BoldItalic;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PTSerif-Italic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: PTSerif-Regular;
  src: url(fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSans-Regular;
  font-weight: normal;
  src: url(fonts/GillSans.ttc);
}
nav {
  height: 92.5px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid #fff;
  justify-content: space-between;
  align-items: center;
  font-family: GillSans-Regular;
  letter-spacing: 2px;
  position: relative;
}
nav .nav-logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.png);
  margin-top: 9.5px;
}
nav .nav-links {
  margin-top: 10.5px;
}
nav .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
nav .nav-links span {
  color: #ee4367;
  margin: 0 13.5px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  nav {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  nav {
    max-width: 720px;
  }
}
.home-banner {
  max-width: 1280px;
  height: 500px;
  margin-top: -92.5px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
  text-align: center;
}
.home-banner h1 {
  font-family: PTSerif-Regular;
  font-size: 40px;
  margin-bottom: 10px;
}
.home-banner .banner-second-text {
  font-family: GillSans-Regular;
  font-style: italic;
  color: #ee4367;
  margin-bottom: 50px;
}
.home-banner .banner-third-text {
  font-family: GillSans-Regular;
  font-style: italic;
  max-width: 520px;
  margin-bottom: 50px;
}
.home-banner .banner-button {
  height: 40px;
  width: 122px;
  background-color: #ee4367;
  color: white;
  cursor: pointer;
  font-family: GillSans-Regular;
  text-align: center;
}
.home-banner .banner-button p {
  margin-top: 8px;
}

.home-content-text {
  max-width: 980px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-content-text .home-content-text-paragraph {
  font-family: GillSans-Regular;
  font-weight: italic;
  font-size: 15px;
  color: #ffd140;
}
.home-content-text h1 {
  margin: 20px auto 5px 0;
  font-family: PTSerif-Regular;
  color: #ee4367;
  font-size: 15px;
  letter-spacing: 0px;
}
.home-content-text .home-content-text-desc {
  font-family: PTSerif-Regular;
  font-size: 10px;
  margin: 0px auto 0px 0px;
  color: #a8a8a8;
  letter-spacing: 0px;
}

@media screen and (max-width: 1280px) {
  .home-content-text {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .home-content-text {
    max-width: 720px;
  }
}
.home-events {
  max-width: 1280px;
  height: 300px;
  background-color: #540d6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-events .event-header {
  width: 392px;
  color: white;
  font-family: GillSans-Regular;
  font-size: 25px;
  margin-left: 40px;
}
.home-events .event-header-underline {
  width: 392px;
  height: 2px;
  background-color: white;
  margin: -5px 0 34.5px 40px;
}
.home-events .event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 124px;
  max-width: 1280px;
  margin: 0 40px 60px 40px;
}
.home-events .event-container .event-box {
  width: 230px;
  min-height: 124px;
  display: flex;
  margin: auto 5px;
}
.home-events .event-container .event-box .event-box-date {
  min-width: 60px;
  height: 60px;
  background-color: #ee4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: GillSans-Regular;
}
.home-events .event-container .event-box .event-box-date span {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.home-events .event-container .event-box .event-box-date p {
  font-weight: lighter;
  font-size: 12px;
}
.home-events .event-container .event-box .event-box-text {
  letter-spacing: 0px;
  margin-left: 20px;
}
.home-events .event-container .event-box .event-box-text .event-white-text {
  color: white;
  font-family: GillSans-Regular;
  font-size: 15px;
}
.home-events .event-container .event-box .event-box-text .event-red-text {
  color: #ee4367;
  font-family: GillSans-Regular;
  font-size: 13px;
}

.about {
  max-width: 980px;
  margin: 0 auto;
}
.about .about-banner {
  height: 379px;
  margin-top: 85.5px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about .about-banner p {
  position: absolute;
  inset: auto auto 0 0;
  margin-bottom: -5px;
  font-size: 25px;
  font-family: GillSans-Regular;
}
.about .about-banner-header-underline {
  height: 2px;
  width: 229px;
  margin: 16px auto 36.5px 0;
  background-color: #000;
}
.about .about-desc {
  font-size: 16px;
  font-family: GillSans-Regular;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 95px;
}

.gallery {
  max-width: 980px;
  margin: 0 auto;
}
.gallery .gallery-header {
  margin-top: 65.5px;
  font-family: GillSans-Regular;
  font-size: 25px;
}
.gallery .gallery-header-underline {
  width: 229px;
  height: 2px;
  background-color: black;
  margin-bottom: 29.5px;
}
.gallery .gallery-container {
  display: flex;
  flex-direction: column;
}
.gallery .gallery-container .gallery-container-top {
  display: flex;
  justify-content: space-between;
}
.gallery .gallery-container .gallery-container-top .gallery-container-one {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-container .gallery-container-top .gallery-container-two {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-container .gallery-container-top .gallery-container-three {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-container .gallery-container-bottom {
  margin: 20px 0 60px 0;
  display: flex;
  justify-content: space-between;
}
.gallery .gallery-container .gallery-container-bottom .gallery-container-four {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-container .gallery-container-bottom .gallery-container-five {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-one {
  max-width: 980px;
  margin: 50.5px auto 73px auto;
}
.gallery-one .gallery-banner {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-one .gallery-banner .gallery-banner-text {
  display: flex;
  font-family: GillSans-Regular;
  color: #ffd140;
  position: absolute;
  bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
  margin-bottom: -80px;
}
.gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-number {
  font-size: 300px;
}
.gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
  font-size: 140px;
  margin-top: 149px;
  margin-left: 0px;
}
.gallery-one .gallery-desc {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  margin-top: 50.5px;
  font-family: GillSans-Regular;
  font-weight: lighter;
  font-style: italic;
}
.gallery-one .gallery-desc .gallery-desc-left {
  width: 490px;
}
.gallery-one .gallery-desc .gallery-desc-right {
  width: 451px;
}

@media screen and (max-width: 1280px) {
  .gallery-one {
    max-width: 80%;
  }
}
@media screen and (max-width: 1175px) {
  .gallery-one .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
    position: relative;
  }
  .gallery-one .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ffd140;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 110px;
    margin-top: 178px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 1040px) {
  .gallery-one .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
    position: relative;
  }
  .gallery-one .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ffd140;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 80px;
    margin-top: 205px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 875px) {
  .gallery-one .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url("../images/gallery/1.png");
    position: relative;
  }
  .gallery-one .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ffd140;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-one .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 70px;
    margin-top: 215px;
    margin-left: 20px;
  }
}
.gallery-two {
  max-width: 980px;
  margin: 50.5px auto 73px auto;
}
.gallery-two .gallery-banner {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/2.jpeg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-two .gallery-banner .gallery-banner-text {
  display: flex;
  font-family: GillSans-Regular;
  color: #ee4367;
  position: absolute;
  bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
  margin-bottom: -80px;
}
.gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-number {
  font-size: 300px;
}
.gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
  font-size: 140px;
  margin-top: 149px;
  margin-left: 36px;
}
.gallery-two .gallery-desc {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  margin-top: 50.5px;
  font-family: GillSans-Regular;
  font-weight: lighter;
  font-style: italic;
}
.gallery-two .gallery-desc .gallery-desc-left {
  width: 490px;
}
.gallery-two .gallery-desc .gallery-desc-right {
  width: 451px;
}

@media screen and (max-width: 1280px) {
  .gallery-two {
    max-width: 80%;
  }
}
@media screen and (max-width: 1175px) {
  .gallery-two .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/2.jpeg");
    position: relative;
  }
  .gallery-two .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ee4367;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 110px;
    margin-top: 178px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 1040px) {
  .gallery-two .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/2.jpeg");
    position: relative;
  }
  .gallery-two .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ee4367;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 80px;
    margin-top: 205px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 875px) {
  .gallery-two .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url("../images/gallery/2.jpeg");
    position: relative;
  }
  .gallery-two .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #ee4367;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-two .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 70px;
    margin-top: 215px;
    margin-left: 20px;
  }
}
.gallery-three {
  max-width: 980px;
  margin: 50.5px auto 73px auto;
}
.gallery-three .gallery-banner {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/3.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-three .gallery-banner .gallery-banner-text {
  display: flex;
  font-family: GillSans-Regular;
  color: #08ad69;
  position: absolute;
  bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
  margin-bottom: -80px;
}
.gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-number {
  font-size: 300px;
}
.gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
  font-size: 140px;
  margin-top: 149px;
  margin-left: 32px;
}
.gallery-three .gallery-desc {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  margin-top: 50.5px;
  font-family: GillSans-Regular;
  font-weight: lighter;
  font-style: italic;
}
.gallery-three .gallery-desc .gallery-desc-left {
  width: 490px;
}
.gallery-three .gallery-desc .gallery-desc-right {
  width: 451px;
}

@media screen and (max-width: 1280px) {
  .gallery-three {
    max-width: 80%;
  }
}
@media screen and (max-width: 1175px) {
  .gallery-three .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/3.jpg");
    position: relative;
  }
  .gallery-three .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #08ad69;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 110px;
    margin-top: 178px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 1040px) {
  .gallery-three .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/3.jpg");
    position: relative;
  }
  .gallery-three .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #08ad69;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 80px;
    margin-top: 205px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 875px) {
  .gallery-three .gallery-banner {
    min-height: 400px;
    max-width: 980px;
    background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url("../images/gallery/3.jpg");
    position: relative;
  }
  .gallery-three .gallery-banner .gallery-banner-text {
    display: flex;
    font-family: GillSans-Regular;
    color: #08ad69;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
    margin-bottom: -80px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-number {
    font-size: 300px;
  }
  .gallery-three .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
    font-size: 70px;
    margin-top: 215px;
    margin-left: 20px;
  }
}
.gallery-four {
  max-width: 980px;
  margin: 50.5px auto 73px auto;
}
.gallery-four .gallery-banner {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url("../images/gallery/4.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-four .gallery-banner .gallery-banner-text {
  display: flex;
  font-family: GillSans-Regular;
  color: #540d6e;
  position: absolute;
  bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
  margin-bottom: -80px;
}
.gallery-four .gallery-banner .gallery-banner-text .gallery-banner-text-number {
  font-size: 300px;
}
.gallery-four .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
  font-size: 115px;
  margin-top: 172px;
  margin-left: 50px;
}
.gallery-four .gallery-desc {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  margin-top: 50.5px;
  font-family: GillSans-Regular;
  font-weight: lighter;
  font-style: italic;
}
.gallery-four .gallery-desc .gallery-desc-left {
  width: 490px;
}
.gallery-four .gallery-desc .gallery-desc-right {
  width: 451px;
}

.gallery-five {
  max-width: 980px;
  margin: 50.5px auto 73px auto;
}
.gallery-five .gallery-banner {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url("../images/gallery/5.png");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-five .gallery-banner .gallery-banner-text {
  display: flex;
  font-family: GillSans-Regular;
  color: #3bceab;
  position: absolute;
  bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.0862745098);
  margin-bottom: -80px;
}
.gallery-five .gallery-banner .gallery-banner-text .gallery-banner-text-number {
  font-size: 300px;
}
.gallery-five .gallery-banner .gallery-banner-text .gallery-banner-text-desc {
  font-size: 115px;
  margin-top: 172px;
  margin-left: 50px;
}
.gallery-five .gallery-desc {
  display: flex;
  justify-content: space-between;
  min-height: 133px;
  margin-top: 50.5px;
  font-family: GillSans-Regular;
  font-weight: lighter;
  font-style: italic;
}
.gallery-five .gallery-desc .gallery-desc-left {
  width: 490px;
}
.gallery-five .gallery-desc .gallery-desc-right {
  width: 451px;
}

footer {
  max-width: 1280px;
  height: 455px;
  background-color: #ee4367;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.png);
}
footer .footer-text {
  color: white;
  font-family: GillSans-Regular;
  font-size: 16px;
  text-align: center;
}
footer .footer-text .footer-address {
  margin: 46px auto 5px auto;
}
footer .footer-text .footer-phone {
  margin-bottom: 0px;
}
footer .footer-text .footer-email {
  margin: 5px auto 46px auto;
}
footer .footer-form {
  height: 60px;
  width: 696px;
  background-color: yellow;
  display: flex;
}
footer .footer-form .footer-form-input {
  width: 529px;
  height: 100%;
  background-color: #f56b88;
  border: none;
  padding: 20px;
  color: white;
}
footer .footer-form ::placeholder {
  color: white;
  opacity: 50%;
}
footer .footer-form .footer-form-submit {
  width: 167px;
  height: 100%;
  background-color: white;
  font-family: GillSans-Regular;
  color: #ee4367;
  text-align: center;
}
footer .footer-form .footer-form-submit p {
  margin-top: 21px;
}
footer .footer-media-links {
  width: 156px;
  height: 32px;
  margin: 30px auto 46px auto;
  display: flex;
  justify-content: space-between;
}
footer .footer-media-links .facebook-link {
  height: 32px;
  width: 32px;
  background-image: url("../images/social-media/facebook.svg");
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .footer-media-links .insta-link {
  height: 32px;
  width: 32px;
  background-image: url("../images/social-media/instagram.svg");
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .footer-media-links .twitter-link {
  height: 32px;
  width: 32px;
  background-image: url("../images/social-media/twitter.svg");
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .footer-copyright {
  color: white;
  opacity: 50%;
  font-family: GillSans-Regular;
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */
