// this area is for buttons
@mixin siteButton($btnWidth: 122px, $btnHeight: 40px, $pMargin: 8px) {
  height: $btnHeight;
  width: $btnWidth;
  background-color: $site-red;
  color: white;
  cursor: pointer;
  font-family: $secondary-font;
  text-align: center;
  display: inline;
  text-decoration: none;

  p {
    margin-top: $pMargin;
  }
}

// this area is for shortcuts
@mixin defaultImageStyling() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// this area is for the gallery
@mixin galleryBanner(
  $galBannerColor,
  $galBannerImage,
  $galBannerHeaderSize,
  $galBannerHeaderMarginL,
  $galBannerHeaderMarginT
) {
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(
      rgba($galBannerColor, 0.7),
      rgba($galBannerColor, 0.7)
    ),
    url($galBannerImage);
  position: relative;

  .gallery-banner-text {
    display: flex;
    font-family: $secondary-font;
    color: $galBannerColor;
    position: absolute;
    bottom: 0;
    text-shadow: 5px 5px 5px #00000016;
    margin-bottom: -80px;

    .gallery-banner-text-number {
      font-size: 300px;
    }

    .gallery-banner-text-desc {
      font-size: $galBannerHeaderSize;
      // margin-top: 149px;
      margin-top: $galBannerHeaderMarginT;
      margin-left: $galBannerHeaderMarginL;
    }
  }
}

@mixin galleryText() {
  .gallery-desc {
    min-height: 133px;
    max-width: $content-width;
    display: flex;
    justify-content: space-between;
    margin-top: 50.5px;
    font-family: $secondary-font;
    font-weight: lighter;
    font-style: italic;
    // why is this so dark? not sure how to unlock the lighter fonts

    .gallery-desc-left {
      max-width: 490px;
    }

    .gallery-desc-right {
      max-width: 451px;
    }
  }
}

// this area is for the blog
@mixin blogDefaultStyling() {
  .blog-box {
    width: 460px;
    min-height: 257px;
    display: flex;

    .blog-box-date {
      height: 60px;
      width: 60px;
      background-color: $site-red;
      background-color: $site-red;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-family: $secondary-font;

      span {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      p {
        font-weight: lighter;
        font-size: 12px;
      }
    }

    .blog-box-content {
      margin-left: 20px;
      width: 380px;

      .blog-box-content-img {
        width: 380px;
        height: 140px;
        background-image: url(../images/blog.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .blog-box-content-text {
        font-family: $secondary-font;
        letter-spacing: 0px;

        .blog-box-content-text-black {
          margin: 20px auto 11px 0;
          font-size: 15px;
        }

        .blog-box-content-text-red {
          font-size: 13px;
          color: $site-red;
        }
      }
    }
  }
}

// this area is for the footer
@mixin footerSocialMedia($footerImage) {
  height: 32px;
  width: 32px;
  background-image: url($footerImage);
  filter: invert(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
