// this area is for colors
$site-purple: #540d6e;
$site-red: #ee4367;
$site-yellow: #ffd140;
$site-aqua: #3bceab;
$site-green: #08ad69;
$site-white: #fff;
$site-black: #000;
$site-grey: #a8a8a8;

// this area is for widths and heights
$content-width: 980px;
$banner-footer-width: 1280px;
$nav-height: 92.5px;
$footer-height: 455px;

// this area is for fonts
$primary-font: PTSerif-Regular;
$primary-font-bold: PTSerif-Bold;
$primary-font-bold-italic: PTSerif-BoldItalic;
$primary-font-italic: PTSerif-Italic;
$secondary-font: GillSans-Regular;

// this area is for misc.
$site-letter-spacing: 2px;
