.gallery {
  max-width: $content-width;
  margin: 0 auto;

  .gallery-header {
    margin-top: 65.5px;
    font-family: $secondary-font;
    font-size: 25px;
  }

  .gallery-header-underline {
    width: 229px;
    height: 2px;
    background-color: black;
    margin-bottom: 29.5px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;

    .gallery-container-top {
      display: flex;

      .gallery-container-one {
        width: 489px;
        height: 187px;
        background-image: linear-gradient(
            rgba($site-yellow, 0.7),
            rgba($site-yellow, 0.7)
          ),
          url(../images/gallery/1.png);
        @include defaultImageStyling;
        display: block;
      }

      .gallery-container-two {
        min-width: 187px;
        min-height: 187px;
        background-image: linear-gradient(
            rgba($site-red, 0.7),
            rgba($site-red, 0.7)
          ),
          url(../images/gallery/2.jpeg);
        @include defaultImageStyling;
        margin: 0px 20px;
      }

      .gallery-container-three {
        width: 265px;
        height: 187px;
        background-image: linear-gradient(
            rgba($site-green, 0.7),
            rgba($site-green, 0.7)
          ),
          url(../images/gallery/3.jpg);
        @include defaultImageStyling;
      }
    }

    .gallery-container-bottom {
      margin: 20px 0 60px 0;
      display: flex;

      .gallery-container-four {
        width: 603px;
        height: 306px;
        background-image: linear-gradient(
            rgba($site-purple, 0.7),
            rgba($site-purple, 0.7)
          ),
          url(../images/gallery/4.jpg);
        @include defaultImageStyling;
        margin-right: 23px;
      }

      .gallery-container-five {
        width: 355px;
        height: 306px;
        background-image: linear-gradient(
            rgba($site-aqua, 0.7),
            rgba($site-aqua, 0.7)
          ),
          url(../images/gallery/5.png);
        @include defaultImageStyling;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .gallery {
    max-width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .gallery-container-one {
    // max-width: 200px;
  }

  .gallery-container-three {
    min-width: 187px;
  }
}

@media screen and (max-width: 960px) {
  .gallery-container-top {
    margin: 0 10px;
    justify-content: space-between;

    .gallery-container-one {
      min-width: 187px;
    }

    .gallery-container-three {
      max-width: 187px;
    }
  }

  .gallery-container-bottom {
    justify-content: space-between;

    .gallery-container-four {
      max-width: 320px;
      margin-left: 10px;
    }

    .gallery-container-five {
      max-width: 370px;
      margin-right: 10px;
    }
  }
}

// @media screen and (max-width: 900px) {
//   .gallery {
//     .gallery-header {
//       max-width: 720px;
//     }
//   }
// }
