.home-events {
  max-width: $banner-footer-width;
  height: 300px;
  background-color: $site-purple;
  display: flex;
  flex-direction: column;

  .events-header {
    width: 392px;
    color: white;
    font-family: $secondary-font;
    font-size: 25px;
    margin-left: 40px;
  }

  .events-container {
    display: flex;
    align-items: row;
  }
}
