.home-events {
  margin: 0 auto;
  max-width: $banner-footer-width;
  min-height: 300px;
  background-color: $site-purple;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .event-header {
    width: 392px;
    color: white;
    font-family: $secondary-font;
    font-size: 25px;
    margin-left: 40px;
  }

  .event-header-underline {
    width: 392px;
    height: 2px;
    background-color: white;
    margin: -5px 0 34.5px 40px;
  }

  .event-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 124px;
    max-width: $banner-footer-width;
    margin: 0 auto 60px auto;

    .event-box-top {
      // background-color: red;
      @include homeEventDefault;
      display: flex;
      flex-direction: row;
    }

    .event-box-bottom {
      // background-color: blue;
      @include homeEventDefault;
      display: flex;
      flex-direction: row;
    }
  }
}

// @media screen and (max-width: 1280px) {
//   .home-events {
//     max-width: 80%;
//   }
// }

@media screen and (max-width: 1260px) {
  .home-events {
    .event-header {
      margin-top: 19px;
    }

    .event-container {
      flex-direction: column;

      .event-box-bottom {
        margin: 20px auto 0 auto;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home-events {
    .event-container {
      margin: 0 auto;
      flex-direction: column;
      .event-box-top {
        flex-direction: column;
        margin-bottom: 20px;
      }

      .event-box-bottom {
        flex-direction: column;
        margin: -10px auto 20px auto;
      }
    }
  }
}
