nav {
  height: $nav-height;
  max-width: $content-width;
  // background-color: aquamarine;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid #fff;
  justify-content: space-between;
  align-items: center;
  font-family: $secondary-font;
  letter-spacing: $site-letter-spacing;
  position: relative;

  .nav-logo {
    width: 92px;
    height: 42px;
    background-image: url(../images/logo/logo-white.png);
    margin-top: 9.5px;
  }

  .nav-links {
    margin-top: 10.5px;
    a {
      text-decoration: none;
      color: white;
      font-size: 15px;
    }

    span {
      color: $site-red;
      margin: 0 13.5px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1280px) {
  nav {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  nav {
    max-width: 720px;
  }
}
