.about {
  max-width: $content-width;
  //   background-color: burlywood;
  margin: 0 auto;

  .about-banner {
    height: 379px;
    margin-top: 85.5px;
    background-image: linear-gradient(
        rgba($site-yellow, 0.8),
        rgba($site-yellow, 0.8)
      ),
      url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    p {
      position: absolute;
      inset: auto auto 0 0;
      margin-bottom: -5px;
      font-size: 25px;
      font-family: $secondary-font;
    }
  }

  .about-banner-header-underline {
    height: 2px;
    width: 229px;
    margin: 16px auto 36.5px 0;
    background-color: #000;
  }

  .about-desc {
    font-size: 16px;
    font-family: $secondary-font;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 3px;
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 1280px) {
  .about {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .about {
    max-width: 720px;
  }
}
